<%
  const navItems = (typeof navigation !== 'undefined' && navigation.adminNavItems) || [];
%>
<div class="admin-subnav">
  <% navItems.forEach(item => { %>
    <a class="quick-link <%= activeAdminNav === item.key ? 'is-active' : '' %>" href="<%= item.href %>"><%= item.label %></a>
  <% }) %>
</div>
